In [98]:
import datetime
import pandas as pd
import quandl
quandl.ApiConfig.api_key = "Npr_WVEspvDGSfRd9Dt_"

In [48]:
data_rows = [('AAPL', 1,datetime.date(2010,1,1),500,None,None,None,None,None,None,None),
             ('M',1,datetime.date(2018,1,25),1000,datetime.date(2018,1,29),2000,None,None,None,None,None)]
marketData = [('AAPL',datetime.date(2018,1,30),500,600,450,650)
             ,('M',datetime.date(2018,1,30),510,620,400,690)
             ]
marketData = pd.DataFrame(marketData,columns = ['Symbol',
                                                'Date',
                                                'Open',
                                                'Close'
                                                ,'High'
                                                ,'Low']).astype({'Symbol':object,
                                                                 'Date': datetime.date
                                                                 ,'Open':'float64'
                                                                 ,'Close':'float64'
                                                                 ,'High':'float64'
                                                                 ,'Low':'float64'})

In [93]:
class Portfolio:
    '''Creates a portfolio linked to a given market.  If no parameters are passed, the Portfolio is empty and
    no market is associated with the Portfolio.  
    Alternatively, you can pass into the data parameters a pre-existing Portfolio in .csv format, as well connect
    to the Quandl API to pull in the desired market data.
    '''
    
    def __init__(self, data = pd.DataFrame(), marketData = pd.DataFrame()):
        
        self.Portfolio = pd.DataFrame(data, columns = ['Symbol',
                                                       'Quantity',
                                                       'BuyDate',
                                                       'BuyPrice',
                                                       'SellDate',
                                                       'SellPrice',
                                                       'CurrentPrice',
                                                       'CurrentReturn',
                                                       'CurrentPctReturn',
                                                       'TotalReturn',
                                                       'TotalPctReturn']).astype({'Symbol':object,
                                                                                  'Quantity':int,
                                                                          'BuyDate':datetime.date,
                                                                          'BuyPrice':'float64',
                                                                          'SellDate':datetime.date,
                                                                          'SellPrice':'float64',
                                                                          'CurrentPrice':'float64',
                                                                          'CurrentReturn':'float64',
                                                                          'CurrentPctReturn':'float64',
                                                                          'TotalReturn':'float64',
                                                                          'TotalPctReturn':'float64'})
        
    
        self.yesterday = datetime.datetime.now().date() + datetime.timedelta(days  =-1)
        self.Assets = self.Portfolio.Symbol.values
        self.marketData = marketData
        self.openPositions = self.Portfolio[self.Portfolio['SellDate'].isnull()]
        
        for i in range(self.Portfolio.shape[0]):
            
            
            
            currentPrice = (self.marketData[(self.marketData['Symbol'] == self.Portfolio.loc[i,'Symbol']) 
                                            & (self.marketData['Date'] == self.yesterday)].loc[:,'Close'])
            
            update_df = pd.DataFrame({'CurrentReturn': currentPrice - self.Portfolio.loc[i,'BuyPrice']
                                     ,'CurrentPctReturn': ((currentPrice/self.Portfolio.loc[i,'BuyPrice']) - 1) * 100
                                     ,'TotalReturn': self.Portfolio.loc[i,'SellPrice'] - self.Portfolio.loc[i,'BuyPrice']
                                     ,'TotalPctReturn': ((self.Portfolio.loc[i,'SellPrice']/self.Portfolio.loc[i,'BuyPrice']) - 1)*100}
                                     , index = [i])     
            
            self.Portfolio.update(update_df)
            
         
        
        
    def buy(self,
            symbol,
            quantity = 1,
            buyDate =  datetime.datetime.now().date() + datetime.timedelta(days  =-1),
            sellDate = datetime.date(2050,1,1) ):

        
        
        a_quantity = quantity
        a_BuyDate = buyDate
        a_BuyPrice =  self.marketData[(self.marketData['Symbol'] == symbol) & (self.marketData['Date'] == buyDate)].loc[0,'Close']
        a_SellDate = sellDate
        a_SellPrice = None
        a_CurrentReturn = 0
        a_CurrentPctReturn = 0
        a_TotalReturn = 0
        a_TotalPctReturn = 0
        
        self.Portfolio = self.Portfolio.append({'Symbol':symbol,
                                                'Quantity':a_quantity,
                                               'BuyDate':a_BuyDate,
                                               'BuyPrice':a_BuyPrice,
                                               'SellDate':a_SellDate,
                                               'SellPrice':a_SellPrice,
                                               'CurrentPrice':a_BuyPrice,
                                               'CurrentReturn':a_CurrentReturn,
                                               'CurrentPctReturn':a_CurrentPctReturn,
                                               'TotalReturn':a_TotalReturn,
                                               'TotalPctReturn':a_TotalPctReturn},
                                               ignore_index=True)
        

    def sell(self,
            symbol,
            buyDate,
            quantity = 1,
            sellDate = datetime.datetime.now().date() + datetime.timedelta(days  =-1)):

        asset_index = self.Portfolio[(self.Portfolio['Symbol'] == symbol) & (self.Portfolio['BuyDate'] == buyDate)].index[0]
        sellPrice = self.marketData[(self.marketData['Symbol'] == symbol) & (self.marketData['Date'] == sellDate)].loc[0,'Close']

        sell_df = pd.DataFrame({'SellDate':sellDate
                                , 'SellPrice':sellPrice
                                , 'CurrentPrice':sellPrice
                                ,'CurrentReturn': sellPrice - self.Portfolio.loc[asset_index,'BuyPrice']
                                ,'CurrentPctReturn': ((sellPrice/self.Portfolio.loc[asset_index,'BuyPrice']) - 1) * 100
                                ,'TotalReturn': sellPrice - self.Portfolio.loc[asset_index,'BuyPrice']
                                ,'TotalPctReturn': ((sellPrice/self.Portfolio.loc[asset_index,'BuyPrice']) - 1)*100}
                                , index = [asset_index])
        
        self.Portfolio.update(sell_df)

In [94]:
M = Portfolio(data=data_rows, marketData = marketData)

In [95]:
M.buy('AAPL')

In [96]:
M.sell('AAPL',buyDate = datetime.date(2010,1,1))

In [97]:
M.Portfolio

,Symbol,Quantity,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,CurrentPctReturn,TotalReturn,TotalPctReturn
0,AAPL,1,2010-01-01,500.0,2018-01-30,600,600.0,100.0,20.0,100.0,20.0
1,M,1,2018-01-25,1000.0,2018-01-29,2000,NaN,-380.0,-38.0,1000.0,100.0
2,AAPL,1,2018-01-30,600.0,2050-01-01,None,600.0,0.0,0.0,0.0,0.0

In [118]:
M.Portfolio[M.Portfolio['SellDate'].isnull()]

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,CurrentPctReturn,TotalReturn,TotalPctReturn
0,AAPL,2010-01-01,500.0,None,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
myP1.Portfolio.loc[0,'CurrentReturn'] = 2000

In [28]:
myP1.Portfolio.loc[0,'CurrentReturn']

2000.0

In [59]:
val = pd.DataFrame({'Low':600}, index=[1])

In [60]:
myP1.marketData

  Symbol        Date   Open  Close   High    Low
0   AAPL  2018-01-30  500.0  600.0  450.0  650.0
1    GNC  2018-01-30  510.0  620.0  400.0  690.0

In [61]:
myP1.marketData.update(val)

In [62]:
myP1.marketData

  Symbol        Date   Open  Close   High    Low
0   AAPL  2018-01-30  500.0  600.0  450.0  650.0
1    GNC  2018-01-30  510.0  620.0  400.0  600.0

In [46]:
myP1.marketData[(myP1.marketData.Symbol == 'AAPL') & (myP1.marketData.Date == myP1.Yesterday) ].loc[:,'Close']

0    600.0
Name: Close, dtype: float64

In [31]:
myP1 = Portfolio(data=data_rows, marketData = marketData)

NameError: name 'portfolioInfo' is not defined

In [398]:
myP.Portfolio.iloc[0]['BuyPrice']

500.0

In [333]:
p['BuyPrice']

0    100.0
1    800.0
Name: BuyPrice, dtype: float64

In [357]:
myP.Portfolio.iloc[0]['Symbol']

'AAPL'

In [362]:
marketInfo = myP.marketData[(myP.marketData['Symbol'] == 'AAPL') & (myP.marketData['Date'] == myP.Yesterday) ]

In [364]:
marketInfo['Close'].values

array([ 600.])

In [371]:
myP.Portfolio[myP.Portfolio['SellDate'] == datetime.date(2018,1,29)]

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,CurrentPctReturn,TotalReturn,TotalPctReturn
1,M,2018-01-25,1000.0,2018-01-29,2000.0,NaN,-400.0,-40.0,1000.0,NaN

In [360]:
myP.Yesterday

datetime.date(2018, 1, 30)

In [ ]:
myP = Portfolio(data

In [322]:
datetime.date(2018,1,31)

datetime.date(2018, 1, 31)

NameError: name 'myP' is not defined

In [352]:
myP = Portfolio(data = data_rows, marketData = marketData)

In [366]:
myP.Portfolio

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,CurrentPctReturn,TotalReturn,TotalPctReturn
0,AAPL,2018-01-20,500.0,None,NaN,NaN,100.0,20.0,NaN,NaN
1,M,2018-01-25,1000.0,2018-01-29,2000.0,NaN,-400.0,-40.0,1000.0,NaN

In [342]:
myP.marketData

  Symbol        Date   Open  Close   High    Low
0   AAPL  2018-01-30  500.0  600.0  450.0  650.0
1    GNC  2018-01-30  510.0  620.0  400.0  690.0

In [ ]:
c.Portfolio['SellDate'] = datetime.date()

In [284]:
c.Portfolio.loc[0]['SellDate'] < datetime.datetime.now()

False

In [265]:
c.Portfolio[c.Portfolio['Symbol']=='AAPL']

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,CurrentPctReturn,TotalReturn,TotalPctReturn
0,AAPL,2013-10-28,500.0,NaT,1000.0,NaN,100.0,20.0,NaN,NaN

In [233]:
c.buy('AAPL',marketData=marketData, sellDate = '2/20/2018')
c.Portfolio

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,Return
0,AAPL,2013-10-28 00:00:00,500.0,NaT,NaN,None,-440.0,NaN
1,M,2018-01-20 00:00:00,1000.0,2018-01-21 00:00:00,2000.0,None,-940.0,1000.0
2,AAPL,2018-01-29,60.0,2/20/2018,NaN,NaN,NaN,NaN

In [182]:
marketData[marketData['Symbol']=='AAPL'][marketData['Date']==datetime.datetime.now().date()]

  Symbol       Date  Open  Close  High   Low
0   AAPL 2018-01-30  50.0   60.0  45.0  65.0

In [197]:
c.Portfolio

,Symbol,BuyDate,BuyPrice,SellDate,SellPrice,CurrentPrice,CurrentReturn,Return
0,AAPL,2013-10-28,500.0,NaT,NaN,None,-440.0,NaN
1,M,2018-01-20,1000.0,2018-01-21,2000.0,None,-940.0,1000.0

In [203]:
c.marketData[(c.marketData['Symbol'] == 'AAPL') & (c.marketData['Date']==c.Yesterday)]['Close'] - 50

0    10.0
Name: Close, dtype: float64

In [199]:
(c.marketData[marketData['Symbol'] == c.Portfolio['Symbol']][c.marketData['Date']==c.Yesterday]['Close'].values[0]
                                           - c.Portfolio['BuyPrice'])

C:\Users\awright\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0   -440.0
1   -940.0
Name: BuyPrice, dtype: float64

In [185]:
c.marketData[(marketData['Symbol'] == 'AAPL') & (marketData['Date'] == datetime.datetime.now().date())]['Close'].values[0]

60.0

In [313]:
marketData = [('AAPL','2018-01-30','50','60','45','65')
             ,('AAPL','2018-01-29','51','62','40','69')]
marketData = pd.DataFrame(marketData,columns = ['Symbol','Date','Open','Close','High','Low'])
marketData = marketData.astype({'Symbol':object,'Date':datetime.date,'Open':'float64','Close':'float64','High':'float64','Low':'float64'})
marketData = marketData.astype({'Date':'datetime64[ns]'})

In [314]:
marketData.dtypes

Symbol            object
Date      datetime64[ns]
Open             float64
Close            float64
High             float64
Low              float64
dtype: object

In [315]:
marketData

  Symbol       Date  Open  Close  High   Low
0   AAPL 2018-01-30  50.0   60.0  45.0  65.0
1   AAPL 2018-01-29  51.0   62.0  40.0  69.0

In [65]:

c.buy(asset = 'AAPL', marketData = c.marketData)

C:\Users\awright\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

dtype('float64')

In [79]:
c.marketData.columns.dtype

dtype('O')

In [42]:
marketData = [('AAPL','2018-01-30','50','60','45','65')
             ,('AAPL','2018-01-29','51','62','40','69')]

In [43]:
M= pd.DataFrame(marketData,columns = ['Symbol','Date','Open','Close','High','Low']).astype({'Symbol':object,'Date':'datetime64[ns]','Open':'float64','Close':'float64','High':'float64','Low':'float64'})
M = M.astype({'Date':'datetime64[ns]'})

In [16]:
date = datetime.datetime.now().date()

In [26]:
M['Date']

0   2018-01-30
1   2018-01-29
Name: Date, dtype: datetime64[ns]

In [37]:
M[(M['Symbol'] == 'AAPL') & (M['Date'] == date)][['Symbol','Date','Close']].values.tolist()[0]

['AAPL', Timestamp('2018-01-30 00:00:00'), 60.0]

In [46]:
c.buy(asset ='AAPL',marketHistory = M)

In [33]:
marketData[(marketData['Symbol'] == asset) & (marketData['Date'] == date)][['Symbol','Date','Close']]

TypeError: list indices must be integers or slices, not str

In [75]:
c.Portfolio.columns

Index(['Symbol', 'BuyDate', 'BuyPrice', 'SellDate', 'SellPrice', 'Return'], dtype='object')

In [76]:
import numpy as np

In [77]:
a = np.ones(5)

In [81]:
c.Portfolio = c.Portfolio

In [20]:
data = []

In [3]:
pd.DataFrame(a)

Empty DataFrame
Columns: []
Index: []

In [21]:
pd.DataFrame(data, columns = ['Symbol','BuyDate','BuyPrice','SellDate','SellPrice','Return'])

Empty DataFrame
Columns: [Symbol, BuyDate, BuyPrice, SellDate, SellPrice, Return]
Index: []

In [48]:
data_rows

[('AAPL', '2013-10-28', 500, None, None, None),
 ('M', '2018-01-20', 1000, '2018-01-21', 2000, None)]

In [49]:
data_rows.append(['a','2013-29-12',1000,None,None,None])

In [62]:
M.append({'Symbol':'GRE','Date':datetime.datetime.now(),'Open':400}, ignore_index=True)

  Symbol                       Date   Open  Close  High   Low
0   AAPL 2018-01-30 00:00:00.000000   50.0   60.0  45.0  65.0
1   AAPL 2018-01-29 00:00:00.000000   51.0   62.0  40.0  69.0
2    GRE 2018-01-30 14:39:04.168399  400.0    NaN   NaN   NaN

In [53]:
M

  Symbol       Date  Open  Close  High   Low
0   AAPL 2018-01-30  50.0   60.0  45.0  65.0
1   AAPL 2018-01-29  51.0   62.0  40.0  69.0